.img2 {
  right: 0;
  top: 20px;
}

.img3 {
  right: 0;
  top: 30%;
}

.img4 {
  bottom: 0;
}

.img5 {
  right: 0;
  bottom: 0;
}

.imgDesktop2 {
  right: 0;
  top: 10%;
}

.imgDesktop3 {
  bottom: 0;
}

.imgDesktop4 {
  right: 0;
  bottom: 0;
}
