.container {
  background-color: var(--color-bg);
}

.img1 {
  right: 0;
}

.img2 {
  top: 14%;
}

.img3 {
  right: 0;
  top: 17%;
}

.img4 {
  top: 45%;
}

.img5 {
  right: 0;
  top: 60%;
}

.img6 {
  right: 0;
  bottom: 0;
}

.imgDesktop2 {
  right: 0;
  top: 4%;
}

.imgDesktop3 {
  bottom: 0;
}

.imgDesktop4 {
  right: 0;
  bottom: 0;
}
