.container {
  background-color: var(--color-bg);
}

.mobileView {
  display: block;
  height: 100%;
}

.desktopView {
  display: none;
  height: 100%;
}

.img2 {
  right: 0;
}

.img3 {
  bottom: 0;
}

.img4 {
  right: 0;
  bottom: -110px;
  rotate: 180deg;
}

.imgDesktop2 {
  right: 0;
  top: 8%;
}

.imgDesktop3 {
  bottom: 0;
}

.imgDesktop4 {
  right: 0;
  bottom: 0;
}
