.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.container img {
  position: absolute;
}

.mobileView {
  display: block;
  height: 100%;
}

.desktopView {
  display: none;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .mobileView {
    display: none;
  }

  .desktopView {
    display: block;
  }
}
