.container {
  display: flex;
  flex-direction: column;
  padding: 11vh 0 4vh 0;
  color: #fff;
  min-height: 100vh;
  width: var(--container-width);
  margin: 0 auto;
}

.h1 {
  margin: 0;
  font-size: 26px;
  text-align: center;
}

.logo {
  margin: 15px 0 90px;
}

.inputsContainer {
  margin-bottom: 30px;
}

.buttonContainer {
  margin-top: auto;
}

.inputMargin {
  margin-bottom: 25px;
}

@media screen and (min-width: 600px) {
  .h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 445px;
  }
}
