.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 0 4vh;
  max-width: var(--container-width);
  margin: 0 auto;
  height: 100vh;
}

.resultsContainer {
  flex: 1;
  overflow-y: auto;
  margin: 20px 0 25px;
}
